API_URL=https://bj-tricks-ai.vercel.app/chat
GROUP_LINK=https://chat.whatsapp.com/KH0VmnftjfSIvFqtdBASGe
ADMIN_NUMBER=224612908366@s.whatsapp.net
AI_RESPONSE_DELAY=2900
SPAM_LIMIT=5
SPAM_WINDOW=10000
